parameters:
    level: 9
    bootstrapFiles:
        - tests/bootstrap.php
    paths:
        - benchmarks
        - examples/kitchen-sink/src
        - src
        - tests
        - tools/release-check.php
    tmpDir: .build/phpstan
